body{
    background-color: rgb(100,150,255);
    color: white
}

div#d1{
    text-align: center;
}

div#d2{
    text-align: left;
}

button{
    background-color: rgb(255,50,50);
    border-color: rgb(255,0,0);
}

button#duplicator{
    background-color: rgb(50,200,50);
    border-color: rgb(50,200,50);
    border-radius: 100%;
    width: 75px;
    height: 75px;
}